dgl-cu102==0.8.1
dglgo==0.0.1
docutils==0.17.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.1.0
filelock==3.4.1
future==0.18.2
gensim==3.8.3
googledrivedownloader==0.4
graphtools==1.5.2
h5py==2.10.0
hjson==3.0.2
huggingface-hub==0.4.0
idna==2.10
imagesize==1.3.0
importlib-metadata==4.8.3
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1620912934572/work/dist/ipykernel-5.5.5-py3-none-any.whl
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1601671685479/work
llvmlite==0.34.0
lmdb==1.3.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mpi4py==3.1.3
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
networkx==2.5
numba==0.51.2
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1602429061603/work
numpydoc==1.1.0
ogb==1.3.3
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl==3.0.10
outdated==0.2.1
packaging==21.3
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1602502758485/work
pbr==5.9.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
phate==1.0.7
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1602708616517/work
prompt-toolkit==1.0.15
psutil==5.9.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py-cpuinfo==8.0.0
pycodestyle==2.8.0
pydantic==1.9.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1629119114968/work
PyGSP==0.5.1
pyparsing==2.4.7
pyreadr==0.4.4
pysmiles==1.0.1
python-dateutil==2.8.1
pytorch-crf==0.7.2
pytz==2020.1
PyYAML==6.0
pyzmq==19.0.2
rdflib==5.0.0
regex==2022.3.15
requests==2.24.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1596546073158/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1602862646378/work
scprep==1.0.13
simplegeneric==0.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
torch==1.10.2
torch-cluster==1.5.7
torch-geometric==1.6.1
torch-scatter==2.0.5
torch-sparse==0.6.7
torch-spline-conv==1.2.0
torchvision==0.6.0a0+82fd1c8
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094701020/work
tqdm==4.50.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1631041982274/work
typer==0.4.1
typing-extensions==4.1.1
urllib3==1.25.10
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
xgboost==1.5.2
xlrd==2.0.1
zipp==3.6.0
